.navbar-dark .navbar-brand{

    font-family: system-ui;
}

h1{

    font-family: emoji;
}

.lead{

    font-style: oblique;
}

.pb-4{

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

