{% extends 'base.html' %}

{% block body%}
<center>
 <div class = "container my-3" style="word-wrap: break-word;">

  {% if Blog.thumbnail %}
           <img src="{{Blog.thumbnail.url}}" width="50%" height="50%"/>
    {% endif %}  
    
    </br>
    <br>
    <h2 class="blog-post-title" style="font-style: normal;
    font-family: fangsong;
    text-decoration: underline;">{{Blog.title|capfirst|safe}}</h2>
      <strong><p class="blog-post-meta" style="color: blue;
       font-family: emoji;">{{Blog.time|date:"D d M Y"}} By {{Blog.user.first_name|capfirst}}</p></strong>

      <p style="
    font-family: sans-serif;
    font-size: large;
    color: black;">{{Blog.desc|capfirst}}</p>
      <hr>

</div>
</center>







{% endblock body%}